:root {
    --color-primary-1: hsl(225, 100%, 94%);
    --color-primary-2: hsl(245, 75%, 52%);
    --color-neutral-1: hsl(225, 100%, 98%);
    --color-neutral-2: hsl(224, 23%, 55%);
    --color-neutral-3: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: var(--color-primary-1);
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100% 40%;
    height: 100vh;
    padding: 6.25rem 0;
}